@font-face {
    font-family: 'Gratia';
    src: url('/static/fonts/gratia-sans.regular.ttf') format('opentype');
}
/* Body Styles */
body {
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Gratia';/* Ensure the font family falls back to a generic font if custom font fails */
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: inherit; /* Inherits the black color from body */
}

/* Container Styles */
.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally in the container */
}

/* Image Tooltip Wrapper */
.image-tooltip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally in the flex container */
    margin: 50px;
}

/* Tooltip Text Styles */
.tooltip-text {
    visibility: hidden;
    color: black;
    font-size: 16px;
    margin-top: 10px; /* Space between image and text */
    
    /* Fade-in effect */
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.image-tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Image Styles */
.coder-images img {
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform 0.3s ease;
    width: 100px; /* Fixed width for alignment */
    height: 100px; /* Fixed height for alignment */
    object-fit: cover;
}

.coder-images img:hover {
    transform: scale(1.1);
    cursor: pointer; /* Indicates the image can be clicked */
}

.info-block {
    padding: 80px; /* Reduced padding for a more compact look */
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: justify; /* Justifies the text, making it spread evenly */
    width: 40%; /* Sets the width to 60% of its container */
    margin-left: auto;
    margin-right: auto; /* Centers the block within its container */
}

.centered-title {
    text-align: center; /* Centers the title text within the .info-block */
}
/* Tooltip and Profile Text Styles */
.tooltip-text, .profile-text {
    visibility: hidden;
    color: black;
    font-size: 16px;
    margin-top: 5px;
    text-align: center; /* Centers the tooltip text */
    
    /* Fade-in effect */
    opacity: 0;
    transition: opacity 0.7s, visibility 0.4s;
}

.image-tooltip-wrapper:hover .tooltip-text,
.image-tooltip-wrapper:hover .profile-text {
    visibility: visible;
    opacity: 1;
}

/* Adjusting Image Styles for better hover effect */
.coder-images img {
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.coder-images img:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 8px #666; /* Adds shadow to enhance the hover effect */
}

/* Profile Text Specific Styles */
.profile-text {
    display: block; /* Ensures the text is treated as a block */
    visibility: hidden;
    color: black;
    font-size: 12px; /* Smaller font size for the profile text */
    width: 40%; /* The width matches the container text above */
    transition: opacity 0.7s, visibility 0.4s;
    margin-top: 20px; /* Larger space between the image and the text block */
    text-align: center; /* Centers the profile text */
    margin-left: auto; /* Center the block horizontally */
    margin-right: auto; /* Center the block horizontally */
}

.image-tooltip-wrapper:hover .profile-text {
    visibility: visible;
    opacity: 1;
}
