@font-face {
    font-family: 'Meqanor';
    src: url('/static/fonts/Meqanor.otf') format('opentype');
}

/* Body Styles */
body {
    background-color: #f0f0f0;
    color: #000;
    font-family: 'Meqanor', sans-serif; /* Ensure the font family falls back to a generic font if custom font fails */
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: inherit; /* Inherits the black color from body */
}

/* Container Styles */
.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally in the container */
}

/* Image Tooltip Wrapper */
.image-tooltip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally in the flex container */
    margin: 50px;
}

/* Tooltip Text Styles */
.tooltip-text {
    visibility: hidden;
    color: black;
    font-size: 16px;
    margin-top: 5px; /* Space between image and text */
    
    /* Fade-in effect */
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.image-tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Image Styles */
.coder-images img {
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform 0.3s ease;
    width: 100px; /* Fixed width for alignment */
    height: 100px; /* Fixed height for alignment */
    object-fit: cover;
}

.coder-images img:hover {
    transform: scale(1.1);
    cursor: pointer; /* Indicates the image can be clicked */
}
