/* specific styles for the ulltimate predictor */
@font-face {
    font-family: 'Gratia';
    src: url('/static/fonts/gratia-sans.regular.ttf') format('opentype');
}
/* intro text styles */
.intro-text {
    color: #ffffff;
    text-align: center;
    max-width: 600px;
    font-family: 'Gratia';
    src: url('/static/fonts/gratia-sans.regular.ttf') format('opentype');
    margin-bottom: 30px;
}

/* form and input Styles */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Label styles */
label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    width: 100%; /* Ensure label width matches input width */
    text-align: left;
}

/* Input styles */
input[type="text"] {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 22px); /* Compensate for padding and border */
    box-sizing: border-box; /* Include padding and border in element's total width */
}

/* Button styles */
button {
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3; /* Darken button on hover */
}

/* Message Display Styles */
.message {
    color: #d9534f; /* Bootstrap 'danger' red for error messages */
    margin: 10px 0;
    font-weight: bold;
}
/* Video styles unchanged */
#background-video {
    position: fixed; /* Keeps the video in place even on scrolling */
    top: 0;
    left: 0;
    width: 130vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    object-fit: cover; /* Ensures the video covers the area without losing aspect ratio */
    z-index: -1; /* Set to -1 to ensure it stays behind other content */
    filter: grayscale(100%); /* If you want the video to be in grayscale */
}

body {
    color: white;
}
