<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Movie Match</title>
    <!-- Link to style.css  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Link to the CSS file, updated to 'aboutusstyle.css' -->
    <link rel="stylesheet" href="{{ url_for('static', filename='aboutusstyle.css') }}">
</head>
<body>
    <!-- menu -->
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/ultimate-predictor">Ultimate Predictor</a></li>
        </ul>
    </nav>

<div class="info-block">
    <h2 class="centered-title">Who Are We?</h2>
    <p>Movie Match is a dynamic team of film enthusiasts and tech innovators dedicated to enhancing your movie-watching experience. Our team includes experts in development, design, and data analysis, all united by a passion for cinema.</p>

    <h2 class="centered-title">How Do We Predict the Movies?</h2>
    <p>At Movie Match, we utilize a sophisticated algorithm that combines user preferences with extensive movie data. By analyzing elements like genres, ratings, user reviews, and historical trends, we create personalized movie recommendations. Our goal is to ensure that every movie suggestion feels tailor-made just for you.</p>
</div>

        <!-- Image section -->
        <div class="coder-images">
            <div class="image-tooltip-wrapper">
                <a href="https://www.linkedin.com/in/emma-kozmer" target="_blank">
                    <img src="{{ url_for('static', filename='images/Emmaremoved.png') }}" alt="Coder 1" style="width:100px;height:100px;">
                </a>
                <span class="tooltip-text">Emma - Lead Developer</span>
                <div class="profile-text">Emma is the Lead Developer with over 15 years of experience in software engineering. She specializes in backend development and is passionate about building scalable web applications.</div>
            </div>
            <div class="image-tooltip-wrapper">
                <a href="https://www.linkedin.com/in/luisamueller" target="_blank">
                    <img src="{{ url_for('static', filename='images/Luisaremoved.png') }}" alt="Coder 2" style="width:100px;height:100px;">
                </a>
                <span class="tooltip-text">Luisa - UI/UX Designer</span>
                <div class="profile-text">Luisa is a skilled UI/UX Designer who focuses on creating intuitive and user-friendly designs. After 5 years in frontend engineering, she has decided to go into UI consulting to create not only aesthetic, but also functional websites.</div>
            </div>
        </div>
        
    </div>
</body>
</html>
