<!-- This is the HTML template for the basic prediction resutls from the basic quiz -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendation</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/ultimate-predictor">Ultimate Predictor</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Your Movie Matches</h1>
        <p class="intro">Here's what we found for you!</p>
        {% if movies %}
            {% for movie in movies %}
                <div class="movie">
                    <p>Title: <strong>{{ movie['movie_name'] }}</strong></p>
                    <p>Genre: <strong>{{ movie['genre'] }}</strong></p>
                    <p>Rating: <strong>{{ movie['rating'] }}</strong></p>
                </div>
            {% endfor %}
        {% else %}
            <p>Unfortunately, no movies were found matching your criteria.</p>
        {% endif %}
    </div>
</body>
</html>
